<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link rel="icon" th:href="@{/resources/static/favicon.ico}" type="image/x-icon"/>


    <title th:text="#{application.name}">Add title</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/resources/sb-admin/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/resources/sb-admin/css/sb-admin.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/resources/sb-admin/css/plugins/morris.css}" rel="stylesheet"/>

    <!-- jQuery Input Tag CSS -->
    <link th:href="@{/resources/sb-admin/css/plugins/jquery.tagsinput.min.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/resources/sb-admin/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="fragment/navigation::navigation">
        add navigation
    </div>
    <div layout:fragment="content">
        add content
    </div>

</div>

<div th:replace="fragment/footer::footer">

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/resources/sb-admin/js/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/resources/sb-admin/js/bootstrap.min.js}"></script>

<!-- Morris Charts JavaScript -->
<script th:src="@{/resources/sb-admin/js/plugins/morris/raphael.min.js}"></script>
<!--script th:src="@{/resources/sb-admin/js/plugins/morris/morris.min.js}"></script>
<script th:src="@{/resources/sb-admin/js/plugins/morris/morris-data.js}"></script-->

<script th:src="@{/resources/sb-admin/js/plugins/jquery-tags-input/jquery.tagsinput.min.js}"></script>
<script th:src="@{/resources/static/js/index.js}"></script>


</body>

</html>
